<template>
    <div class="page-wrapper login-form fondo" style="margin:10px">
        <h2 class="login-heading mt-4 mb-5 text-center">Estado - Pedido nº {{id}}</h2>
        <form id="form" @submit.prevent="processProductForm" class="form-horizontal ml-4" novalidate="true">
            <div class="form-group page-wrapper flex-center">
                <span>Selecciona un estado</span>
                    <select name="id_estado" v-model.lazy="estado" required>
                        <option v-for="item in items" :key="item.id" :value="item.id">{{item.name}}</option>
                    </select> 
                <button type="submit" class="btn btn-default boton">Guardar</button>
            </div>
        </form>
  </div>
</template>

<script>
export default {
    props: ['id'],
    name: 'FormPedido',
    data:()=>({
        estado: 0
    }),
    mounted() {
        this.$store.dispatch('loadData');
        this.estado = this.pedido.estado.id;
    },
    computed: {
        items() {
            return this.$store.state.estados
        },
        pedido(){
            return this.$store.getters.getPedidoById(this.id);
        }
    },
    methods: {
        processProductForm() {
            this.$store.dispatch('changeEstado', {id: this.id, estado: this.estado})
                .then(() => {
                    this.loading = false
                    this.$router.push({ name: 'home' })
                })
        }
    }
}
</script>

<style>
.titulo{
  font-size: 18px;
}
.fondo{
  background-color: #efefef;
  padding: 20px;
  border-radius: 20px;
}
.boton{
  background-color: #e1b659;
}
select{
    border: 1px solid black;
    margin: 10px;
    height: 30px;
}
span{
    margin: 15%;
}
</style>