<template>
  <b-card v-if="pedido.estado.id > 1" class="my-2 textos">
    <router-link :to="{ name: 'pedido', params:{'id': this.pedido.id} }">
      <b-card-body class="titulo">
        <b-card-title>{{direccion}}</b-card-title>
        <b-card-text >Referencia: {{ pedido.referencia}}</b-card-text>
        <b-card-text>Estado: {{ pedido.estado.name }}</b-card-text>
      </b-card-body>
    </router-link>
    <b-button class="boton ml-3" @click="editar">Cambiar estado</b-button>
  </b-card>
</template>

<script>
export default {
  name: "PedidoFila",
  props: ["pedido"],
  computed: {
    direccion() {
      return (
        this.pedido.direccion.direccion_1 +
        " " +
        this.pedido.direccion.direccion_2 +
        " " +
        this.pedido.direccion.ciudad
      );
    }
  },
  methods: {
    editar() {
      this.$router.push({
        name: "editar-pedido",
        params: { id: this.pedido.id }
      });
    },
    eliminar() {
      this.$store.dispatch("eliminar", { id: this.pedido.id }).then(() => {
        this.$store.dispatch("loadData");
      });
    }
  }
};
</script>

<style>
.textos{
  color: black;
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');
}
.titulo{
  color: #333033;
}
.boton{
  background-color: #e1b659;
}
</style>