<template>
  <div class="row body">
    <div class="titulo name-container m-4">Hola {{ name }}!</div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="w3-container">
        <pedido-fila
          v-for="pedido in pedidos"
          :pedido="pedido"
          :key="pedido.id"
        ></pedido-fila>
      </div>
    </div>
  </div>
</template>

<script>
import PedidoFila from "./PedidoFila.vue";
export default {
  name: "pedidos",
  components: {
    PedidoFila
  },
  data() {
    return {
      name: ""
    };
  },
  mounted() {
    this.$store.dispatch("loadData");
    this.$store.dispatch("retrieveName").then(response => {
      this.name = response.data.data.name;
    });
  },
  computed: {
    pedidos() {
      return this.$store.state.pedidos;
    }
  },
  methods: {
    completar() {
      if (this.pedidos) {
        this.pedidos.forEach(pedido => {
          this.$store
            .dispatch("changeEstado", { id: pedido.id, estado: 4 })
            .then(() => {
              this.$store.dispatch("loadData");
            });
        });
      }
    }
  }
};
</script>

<style>
.body{
  background-color: #efefef;
  padding: 20px;
  border-radius: 20px;
}
.titulo{
  font-size: 18px;
}
</style>


