<template>
  <div class="fondo">
    <h1>{{direccion}}</h1>
    <p class="element">Referencia: {{ pedido.referencia}}</p>
    <p class="element">Estado: {{ pedido.estado.name }}</p>
    <div class="d-flex justify-content-around">
      <b-button class="boton" @click="cambiarEstado(4)">Entregado</b-button>
      <b-button variant="danger" @click="cambiarEstado(5)">No Entregado</b-button>
    </div>
  </div>
</template>
<script>
export default {
  name: "pedido-detail",
  props: ["id"],
  computed: {
    pedido() {
      return this.$store.getters.getPedidoById(this.id);
    },
    direccion() {
      return (
        this.pedido.direccion.direccion_1 +
        " " +
        this.pedido.direccion.direccion_2 +
        " " +
        this.pedido.direccion.ciudad
      );
    }
  },
  mounted() {
    this.$store.dispatch("loadData");
  },
  methods: {
    editar() {
      this.$router.push({
        name: "editar-pedido",
        params: { id: this.pedido.id }
      });
    },
    cambiarEstado(idEstado) {
      this.$store
        .dispatch("changeEstado", { id: this.id, estado: idEstado })
        .then(() => {
          this.$router.push({ name: "home" });
        });
    }
  }
};
</script>

<style>

.fondo{
  background-color: #efefef;
  padding: 20px;
  border-radius: 20px;
}
.boton{
  background-color: #e1b659;
}
.element{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
}
</style>