<template>
  <div id="app" class="container">
    <b-nav v-if="logged">
      <b-nav-item>
        <router-link :to="{ name: 'home' }" class="dropdown-item">
          <img class="logo" src="https://i.imgur.com/5sc8HU1.png" alt="Fondo">
        </router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link :to="{ name: 'logout' }" class="dropdown-item">Logout</router-link>
      </b-nav-item>
      <b-nav-item>
      </b-nav-item>
    </b-nav>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  computed: {
    logged() {
      return this.$store.getters.loggedIn;
    }
  }
};
</script>

<style>
.header{
  background-color: #e1b659;
}

.logo{
  width: 30px;
  background-color: white;
}
</style>


