<template>
  <div class="page-wrapper login-form mt-5 fondo" style="margin:10px">
    <h2 class="login-heading mt-4 mb-5 text-center">Inicio de sesión</h2>
    <form action="#" @submit.prevent="login">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" v-model="username" aria-describedby="emailHelp" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" v-model="password" required>
      </div>
      <button type="submit" class="btn mt-4 boton">Entrar</button>
    </form>
    <div class="row">
      <img class="image col-s-12 col-md-6 col-md-offset-3" src="https://i.imgur.com/5sc8HU1.png" alt="Fondo">
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    login() {
      this.$store.dispatch('retrieveToken', {
        username: this.username,
        password: this.password,
      })
        .then(() => {
          this.loading = false
          this.$router.push({ name: 'home' })
        })
        .catch(error => console.log(error))
    }
  }
}
</script>

<style>
.titulo{
  font-size: 18px;
}
.fondo{
  background-color: #efefef;
  padding: 20px;
  border-radius: 20px;
}
.image{
  width: 15rem;
  height: auto;
  margin-left: 20%;
  border-radius: 20px;
}
.boton{
  background-color: #e1b659;
}
</style>